@tailwind base;
@tailwind components;
@tailwind utilities;



body[dir="rtl"] {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body[dir="ltr"] {
    direction: ltr;
  }